/* black #191A19 */
/* dark green #1E5128 */
/* light green #4E9F3D */
/* light #D8E9A8 */


* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    height: 100%;
    overflow-x: hidden;
}
/* navigation start */
.nav-desktop {
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    position: fixed;
    top: 0;
    z-index: 99;
}
.nav-wrapper {
    width: 90%;
    margin: 0 auto;
}
.nav-logo {
    display: block;
    height: 100%;
    max-width: 90px;
    margin: 0 auto;
    padding: 10px 0;
}
.nav-logo img {
    max-width: 90%;
    transition: 0.3s;
}
.nav-links {
    text-align: center;
    /* border-top: 2px solid #fefefe; */
    border-top: 2px solid #D8E9A8;
    padding: 12px 0;
}
.nav-links a {
    color: #D8E9A8;
    padding: 0 10px;
    text-transform: uppercase;
    font-family: "Roboto" sans-serif;
    font-weight: 700;
    /* color: #fefefe; */
    transition: 0.3s;
}
.nav-links a:hover {
    text-decoration: none;
    color: #bb844e;
    transition: all 0.3s ease-in;
}

.first {
    height: 500px;
    background-color: #1E5128;
}

.second {
    height: 500px;
    background-color: #4E9F3D;
}
